.list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid black;
    width: 1000px;
    border-radius: 10px;
    max-height: 200px;
    overflow-y:auto;
    padding: 20px;
}

.containerMovements h2 {
    margin-bottom: 20px;
}