* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}

body {
  background-image: linear-gradient( to right,  rgba(238,113,113,1) 1%, rgba(246,215,148,1) 58% );
 }